<h4>Add a comment</h4>

<%= form_for [post, comment] do |f| %>
  <div class='form-group'>
    <%= f.label :body, class: 'sr-only' %>
    <%= f.text_area :body, class: 'form-control', placeholder: "Comment here" %>
  </div>
  <%= f.submit "Comment", class: 'btn btn-success' %>
<% end %>
