<h1>New Topic</h1>

<div class='row'>
  <div class='col-md-4'>
    <p>Guidelines for new topics</p>
    <ul>
      <li>Must</li>
      <li>Be</li>
      <li>A thing</li>
    </ul>
  </div>
  <div class='col-md-8'>
    <%= render partial: 'form', locals: { topic: @topic } %>
  </div>
</div>